@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0 !important;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.ff_poppins {
    font-family: 'Poppins', sans-serif;
}

.overlfow {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--dark-prime);
}

::-webkit-scrollbar-track {
    background-color: var(--dark-prime);
    box-shadow: inset 0 0 5px var(--gray-prime);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-prime);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-prime);
}


/* root-css */

:root {
    /* ------font-size---- */
    --fs-vsm: 12px;
    --fs-sm: 12px;
    --fs-md: 16px;
    --fs-lg: 16px;
    --fs-xl: 21px;
    --fs-xxl: 25px;
    --fs-2xl: 21px;
    --fs-3xl: 40px;
    --fs-4xl: 60px;
    --fs-5xl: 50px;
    /* ---color--- */
    --white: #ffffff;
    --gray: #B2B5BA;
    --gray-light: #9AA0A9;
    --dark-blue: #001D49;
    --gray-prime: #B2CADA;
    --dark-prime: #000C1D;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}


/* font-weight */

.fw_normal {
    font-weight: var(--fw-400);
}

.fw_medium {
    font-weight: var(--fw-500);
}

.fw_bold {
    font-weight: var(--fw-600);
}

.fw_bolder {
    font-weight: var(--fw-700);
}


/* font-size */

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_4xl {
    font-size: var(--fs-4xl);
}

.fs_5xl {
    font-size: var(--fs-5xl);
}


/* color */

.text_white {
    color: var(--white);
}

.dark_blue {
    color: var(--dark-blue);
}

.gray {
    color: var(--gray);
}

.gray_light {
    color: var(--gray-light);
}

.gray_prime {
    color: var(--gray-prime)
}

.bg_dark_prime {
    background-color: var(--dark-prime);
}

.flex_grow {
    flex-grow: 1;
}


/* min-max width */

.min_height {
    height: 65vh;
}

.mw_515 {
    max-width: 600px;
}

.mw_830 {
    max-width: 830px;
}

.mw_500 {
    max-width: 500px;
}

.mw_1320 {
    max-width: 1320px;
}

.height-50 {
    height: 50px;
}

.mw_385 {
    max-width: 385px;
}

.mw_786 {
    max-width: 786px;
}

.width_95 {
    width: 95%
}


/* padding */

.pt_2 {
    padding-top: 2px;
}

.Pt_41 {
    padding-top: 41px !important;
}


/* margin */

.mt_1 {
    margin-top: -1px !important;
}


/* navbar */

nav ul li a {
    color: var(--white);
    position: relative;
    font-size: var(--fs-md);
}

nav ul li a:hover {
    color: var(--gray);
}

nav ul li a::before {
    content: '';
    position: absolute;
    background: var(--gray) !important;
    ;
    height: 2px;
    width: 0%;
    bottom: 1%;
    right: 100%;
    transition: all 300ms linear;
}

nav ul li a:hover::before {
    width: 100%;
    right: 0%;
}


/* navbar-responsiv */

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 18px;
    z-index: 4;
}

.icon span {
    width: 100%;
    height: 3px;
    margin-top: 3px;
    border-radius: 2px;
    transition: all linear 0.3s !important;
    background-color: var(--white);
}

.crossLine1 {
    rotate: 58deg;
}

.crossLine2 {
    rotate: 123deg;
    bottom: 85%;
}

.view {
    flex-direction: column;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #030F1B;
    transition: all linear 0.3s !important;
    transform: translate(-50% -50%);
    z-index: 3;
}

.end-0 {
    right: 0;
}


/* hero_sec */

.bg_img {
    background-image: url('../src/Assets/Image/hero_img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_btn {
    border: 2px solid transparent !important;
    padding: 10px 30px;
    border-radius: 45.5px;
}

.hero_btn2 {
    border: 2px solid transparent !important;
    padding: 10px 20px;
    border-radius: 45.5px;
}

a,
a:hover {
    text-decoration: none;
}

.butn:link,
.butn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-xxl);
    background-image: linear-gradient(90deg, #FFF, #fff);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    color: #001D49;
    font-weight: 500;
}

.butn::before {
    background: #031227;
    content: "";
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
    background: #031227;
    content: "";
    height: 15rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
    width: 6rem;
}

.butn__new::before {
    left: -50%;
}

.butn__new::after {
    left: -100%;
}

.butn:hover,
.butn:active {
    transform: translateY(-3px);
    color: var(--dark-light);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
}

.butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
}

.butn span {
    z-index: 20;
}

.svg_scale {
    transition: all linear 300ms;
}

.svg_scale:hover {
    transform: translateY(-20%);
}


/* btn_hover */

.btn1 {
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: normal;
    border: 5px solid transparent;
}

.btn1:active {
    color: var(--dark-light);
    transform: scale(0.99, 0.99);
}

.send {
    background: var(--white);
    border: 2px solid transparent;
    transition: all 400ms linear;
}

.send:hover {
    transform: scale(1.2, 1.2);
}

.bg_color {
    background: linear-gradient(180deg, rgba(0, 10, 26, 0.00) 0%, #000A1A 100%);
}


/* card-sec */

.card_art {
    width: 100%;
    border-radius: 20px;
    background: #031227;
    padding: 17px 20px;
}

.card_hover {
    transition: all 300ms linear;
}

.card_hover:hover {
    box-shadow: 0 5px 20px 5px #001D49;
}

.three_hover {
    transition: all 1s linear;
}

.three_hover:hover {
    transform: scale(1.1);
}

.main-timeline {
    position: relative;
}

.main-timeline::after {
    content: "";
    position: absolute;
    border-left: 2px dashed white;
    top: 8%;
    bottom: 30%;
    left: 50%;
    margin-left: -3px;
}

.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    right: -20px;
    fill: #009DFF;
    background-color: #009DFF;
    border: 5px solid white;
    box-shadow: 0 0 4px 17px #001931;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    padding: 0px 40px 20px 0px;
    left: 0;
}

.right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

.right::after {
    left: -22px;
}

.card {
    --bs-card-bg: transparent!important;
}

.heading_h:hover {
    color: #009DFF;
}

.line_thor {
    text-decoration-line: line-through !important;
}

.phara:hover {
    color: gray;
}


/* ellipse */

.z_2 {
    z-index: 2;
}

.mint_left {
    position: absolute;
    top: 37%;
    left: 23%;
    z-index: -2;
    width: 337px;
    height: 337px;
    border-radius: 337px;
    background: #009DFF;
    filter: blur(250px);
}

.mint_e {
    position: absolute;
    right: 0;
    bottom: 17%;
    z-index: -2;
    width: 200px;
    height: 200px;
    border-radius: 337px;
    background: #009DFF;
    filter: blur(200px);
}

.roadmap_e {
    position: absolute;
    top: 35%;
    left: 0%;
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 337px;
    background: #009DFF;
    filter: blur(200px);
}

.accordion_e {
    position: absolute;
    top: -67%;
    right: 0%;
    z-index: -1;
    width: 200px;
    height: 207px;
    border-radius: 337px;
    background: #009DFF;
    filter: blur(200px);
}

.accordion-button {
    color: var(--white) !important;
    border-radius: 150px !important;
    background: #031227 !important;
    box-shadow: unset !important;
    font-size: var(--fs-lg) !important;
}

.accordion-button:not(.collapsed) {
    color: var(--white) !important;
    border-radius: 150px !important;
    background: #031227 !important;
    box-shadow: unset !important;
}

.accordion {
    --bs-accordion-color: var(--white) !important;
    --bs-accordion-bg: transparent !important;
    --bs-accordion-border-color: 2px solid transparent !important;
    --bs-accordion-btn-focus-box-shadow: unset !important;
}

.accordion-button::after {
    margin-top: 12px !important;
    background-image: url('../src/Assets/Image/according_down.webp') !important;
}


/* footer */

.bg_image {
    background-image: url('../src/Assets/Image/footer_img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.f_phara:hover {
    color: var(--white);
}

ul {
    padding-left: 0 !important;
}

ul li a {
    color: var(--white);
    font-size: var(--fs-vsm);
    font-weight: var(--fw-400);
    position: relative;
    padding-top: 6px;
}

ul li a::before {
    content: '';
    position: absolute;
    background: var(--white) !important;
    ;
    height: 2px;
    width: 0%;
    bottom: 1%;
    right: 100%;
    transition: all 300ms linear;
}

ul li a:hover::before {
    width: 100%;
    right: 0%;
}


/* media */

@media (max-width: 575.5px) {
    .main-timeline::after {
        left: 31px;
        margin-left: 6px;
        top: 9%;
    }
    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after,
    .right::after {
        left: 18px;
    }
    .left::before {
        right: auto;
    }
    .right {
        left: 0%;
    }
}

@media (min-width:575.5px) {
     :root {
        /* ------font-size---- */
        --fs-vsm: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 21px;
        --fs-xxl: 25px;
        --fs-2xl: 30px;
        --fs-3xl: 50px;
        --fs-4xl: 60px;
        --fs-5xl: 50px;
    }
    /* css */
    .view {
        max-width: 400px;
    }
    .bg_img {
        background-size: cover;
        background-position: center;
    }
    .main-timeline::after {
        top: 6%;
        bottom: 28%;
    }
    .bg_image {
        background-image: url('../src/Assets/Image/footer_img.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card_art {
        height: 500px;
    }
}

@media (min-width:767.5px) {
     :root {
        /* ------font-size---- */
        --fs-5xl: 60px;
    }
    /* css */
    .view {
        max-width: unset;
        width: unset;
        position: unset;
        background-color: transparent;
    }
    .main-timeline::after {
        top: 11%;
        bottom: 28%;
    }
    .min_height {
        height: 75vh;
    }
}

@media (min-width:991.5px) {
     :root {
        /* ------font-size---- */
        --fs-vsm: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 21px;
        --fs-xxl: 25px;
        --fs-2xl: 30px;
        --fs-3xl: 50px;
        --fs-4xl: 60px;
        --fs-5xl: 70px;
    }
    /* css */
    .bg_img {
        background-size: 100% 100%;
        background-position: unset;
    }
    .main-timeline::after {
        top: 10%;
        bottom: 28%;
    }
    .min_height {
        height: 100vh;
    }
}

@media (min-width:1199px) {
    .card_art {
        padding: 20px 40px;
    }
}